# Copy this file to .env and fill in your values
# Never commit .env to GitHub!

API_KEY=magicplatform.c630A0A1126e4dA3A0D11218625d3331
BASE_URL=https://api.intellectseecstag.com
ASSET_ID=54be83b5-1dba-4a8d-b616-93555c462655
API_USERNAME=idxpdemo.demo.user
API_PASSWORD=Chief@admin2025
TENANT=idxpdemo
POLL_INTERVAL=3
MAX_RETRIES=20
